<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metro.dao.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.metro.model.Employee" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_card" property="userCard" jdbcType="VARCHAR" />
    <result column="user_number" property="userNumber" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operater" property="operater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="verb_filed1" property="verbFiled1" jdbcType="VARCHAR" />
    <result column="verb_filed2" property="verbFiled2" jdbcType="VARCHAR" />
    <result column="verb_filed3" property="verbFiled3" jdbcType="VARCHAR" />
    <result column="verb_filed4" property="verbFiled4" jdbcType="VARCHAR" />
    <result column="verb_filed5" property="verbFiled5" jdbcType="VARCHAR" />
    <result column="verb_filed6" property="verbFiled6" jdbcType="VARCHAR" />
    <result column="verb_filed7" property="verbFiled7" jdbcType="VARCHAR" />
    <result column="verb_filed8" property="verbFiled8" jdbcType="VARCHAR" />
    <result column="verb_filed9" property="verbFiled9" jdbcType="VARCHAR" />
    <result column="verb_filed10" property="verbFiled10" jdbcType="VARCHAR" />
    <result column="verb_filed11" property="verbFiled11" jdbcType="VARCHAR" />
    <result column="verb_filed12" property="verbFiled12" jdbcType="VARCHAR" />
    <result column="verb_filed13" property="verbFiled13" jdbcType="VARCHAR" />
    <result column="verb_filed14" property="verbFiled14" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_name, user_card, user_number, create_time, operater, update_time, modifier, 
    verb_filed1, verb_filed2, verb_filed3, verb_filed4, verb_filed5, verb_filed6, verb_filed7, 
    verb_filed8, verb_filed9, verb_filed10, verb_filed11, verb_filed12, verb_filed13, 
    verb_filed14
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.metro.model.EmployeeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from employee
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from employee
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.metro.model.EmployeeExample" >
    delete from employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.metro.model.Employee" >
    insert into employee (id, user_name, user_card, 
      user_number, create_time, operater, 
      update_time, modifier, verb_filed1, 
      verb_filed2, verb_filed3, verb_filed4, 
      verb_filed5, verb_filed6, verb_filed7, 
      verb_filed8, verb_filed9, verb_filed10, 
      verb_filed11, verb_filed12, verb_filed13, 
      verb_filed14)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userCard,jdbcType=VARCHAR}, 
      #{userNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{operater,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{verbFiled1,jdbcType=VARCHAR}, 
      #{verbFiled2,jdbcType=VARCHAR}, #{verbFiled3,jdbcType=VARCHAR}, #{verbFiled4,jdbcType=VARCHAR}, 
      #{verbFiled5,jdbcType=VARCHAR}, #{verbFiled6,jdbcType=VARCHAR}, #{verbFiled7,jdbcType=VARCHAR}, 
      #{verbFiled8,jdbcType=VARCHAR}, #{verbFiled9,jdbcType=VARCHAR}, #{verbFiled10,jdbcType=VARCHAR}, 
      #{verbFiled11,jdbcType=VARCHAR}, #{verbFiled12,jdbcType=VARCHAR}, #{verbFiled13,jdbcType=VARCHAR}, 
      #{verbFiled14,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.metro.model.Employee" >
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userCard != null" >
        user_card,
      </if>
      <if test="userNumber != null" >
        user_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="operater != null" >
        operater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="verbFiled1 != null" >
        verb_filed1,
      </if>
      <if test="verbFiled2 != null" >
        verb_filed2,
      </if>
      <if test="verbFiled3 != null" >
        verb_filed3,
      </if>
      <if test="verbFiled4 != null" >
        verb_filed4,
      </if>
      <if test="verbFiled5 != null" >
        verb_filed5,
      </if>
      <if test="verbFiled6 != null" >
        verb_filed6,
      </if>
      <if test="verbFiled7 != null" >
        verb_filed7,
      </if>
      <if test="verbFiled8 != null" >
        verb_filed8,
      </if>
      <if test="verbFiled9 != null" >
        verb_filed9,
      </if>
      <if test="verbFiled10 != null" >
        verb_filed10,
      </if>
      <if test="verbFiled11 != null" >
        verb_filed11,
      </if>
      <if test="verbFiled12 != null" >
        verb_filed12,
      </if>
      <if test="verbFiled13 != null" >
        verb_filed13,
      </if>
      <if test="verbFiled14 != null" >
        verb_filed14,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCard != null" >
        #{userCard,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operater != null" >
        #{operater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled1 != null" >
        #{verbFiled1,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled2 != null" >
        #{verbFiled2,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled3 != null" >
        #{verbFiled3,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled4 != null" >
        #{verbFiled4,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled5 != null" >
        #{verbFiled5,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled6 != null" >
        #{verbFiled6,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled7 != null" >
        #{verbFiled7,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled8 != null" >
        #{verbFiled8,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled9 != null" >
        #{verbFiled9,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled10 != null" >
        #{verbFiled10,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled11 != null" >
        #{verbFiled11,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled12 != null" >
        #{verbFiled12,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled13 != null" >
        #{verbFiled13,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled14 != null" >
        #{verbFiled14,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.metro.model.EmployeeExample" resultType="java.lang.Integer" >
    select count(*) from employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update employee
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userCard != null" >
        user_card = #{record.userCard,jdbcType=VARCHAR},
      </if>
      <if test="record.userNumber != null" >
        user_number = #{record.userNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operater != null" >
        operater = #{record.operater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled1 != null" >
        verb_filed1 = #{record.verbFiled1,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled2 != null" >
        verb_filed2 = #{record.verbFiled2,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled3 != null" >
        verb_filed3 = #{record.verbFiled3,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled4 != null" >
        verb_filed4 = #{record.verbFiled4,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled5 != null" >
        verb_filed5 = #{record.verbFiled5,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled6 != null" >
        verb_filed6 = #{record.verbFiled6,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled7 != null" >
        verb_filed7 = #{record.verbFiled7,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled8 != null" >
        verb_filed8 = #{record.verbFiled8,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled9 != null" >
        verb_filed9 = #{record.verbFiled9,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled10 != null" >
        verb_filed10 = #{record.verbFiled10,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled11 != null" >
        verb_filed11 = #{record.verbFiled11,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled12 != null" >
        verb_filed12 = #{record.verbFiled12,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled13 != null" >
        verb_filed13 = #{record.verbFiled13,jdbcType=VARCHAR},
      </if>
      <if test="record.verbFiled14 != null" >
        verb_filed14 = #{record.verbFiled14,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update employee
    set id = #{record.id,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_card = #{record.userCard,jdbcType=VARCHAR},
      user_number = #{record.userNumber,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      operater = #{record.operater,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      modifier = #{record.modifier,jdbcType=VARCHAR},
      verb_filed1 = #{record.verbFiled1,jdbcType=VARCHAR},
      verb_filed2 = #{record.verbFiled2,jdbcType=VARCHAR},
      verb_filed3 = #{record.verbFiled3,jdbcType=VARCHAR},
      verb_filed4 = #{record.verbFiled4,jdbcType=VARCHAR},
      verb_filed5 = #{record.verbFiled5,jdbcType=VARCHAR},
      verb_filed6 = #{record.verbFiled6,jdbcType=VARCHAR},
      verb_filed7 = #{record.verbFiled7,jdbcType=VARCHAR},
      verb_filed8 = #{record.verbFiled8,jdbcType=VARCHAR},
      verb_filed9 = #{record.verbFiled9,jdbcType=VARCHAR},
      verb_filed10 = #{record.verbFiled10,jdbcType=VARCHAR},
      verb_filed11 = #{record.verbFiled11,jdbcType=VARCHAR},
      verb_filed12 = #{record.verbFiled12,jdbcType=VARCHAR},
      verb_filed13 = #{record.verbFiled13,jdbcType=VARCHAR},
      verb_filed14 = #{record.verbFiled14,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.metro.model.Employee" >
    update employee
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userCard != null" >
        user_card = #{userCard,jdbcType=VARCHAR},
      </if>
      <if test="userNumber != null" >
        user_number = #{userNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operater != null" >
        operater = #{operater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled1 != null" >
        verb_filed1 = #{verbFiled1,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled2 != null" >
        verb_filed2 = #{verbFiled2,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled3 != null" >
        verb_filed3 = #{verbFiled3,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled4 != null" >
        verb_filed4 = #{verbFiled4,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled5 != null" >
        verb_filed5 = #{verbFiled5,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled6 != null" >
        verb_filed6 = #{verbFiled6,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled7 != null" >
        verb_filed7 = #{verbFiled7,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled8 != null" >
        verb_filed8 = #{verbFiled8,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled9 != null" >
        verb_filed9 = #{verbFiled9,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled10 != null" >
        verb_filed10 = #{verbFiled10,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled11 != null" >
        verb_filed11 = #{verbFiled11,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled12 != null" >
        verb_filed12 = #{verbFiled12,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled13 != null" >
        verb_filed13 = #{verbFiled13,jdbcType=VARCHAR},
      </if>
      <if test="verbFiled14 != null" >
        verb_filed14 = #{verbFiled14,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.metro.model.Employee" >
    update employee
    set user_name = #{userName,jdbcType=VARCHAR},
      user_card = #{userCard,jdbcType=VARCHAR},
      user_number = #{userNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operater = #{operater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      verb_filed1 = #{verbFiled1,jdbcType=VARCHAR},
      verb_filed2 = #{verbFiled2,jdbcType=VARCHAR},
      verb_filed3 = #{verbFiled3,jdbcType=VARCHAR},
      verb_filed4 = #{verbFiled4,jdbcType=VARCHAR},
      verb_filed5 = #{verbFiled5,jdbcType=VARCHAR},
      verb_filed6 = #{verbFiled6,jdbcType=VARCHAR},
      verb_filed7 = #{verbFiled7,jdbcType=VARCHAR},
      verb_filed8 = #{verbFiled8,jdbcType=VARCHAR},
      verb_filed9 = #{verbFiled9,jdbcType=VARCHAR},
      verb_filed10 = #{verbFiled10,jdbcType=VARCHAR},
      verb_filed11 = #{verbFiled11,jdbcType=VARCHAR},
      verb_filed12 = #{verbFiled12,jdbcType=VARCHAR},
      verb_filed13 = #{verbFiled13,jdbcType=VARCHAR},
      verb_filed14 = #{verbFiled14,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>