<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metro.dao.UserQuestionMapper">
	<resultMap id="BaseResultMap" type="com.metro.model.UserQuestion">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="question_id" jdbcType="VARCHAR" property="questionId" />
		<result column="skill_type" jdbcType="VARCHAR" property="skillType" />
		<result column="test_type" jdbcType="VARCHAR" property="testType" />
		<result column="jobs_id" jdbcType="VARCHAR" property="jobsId" />
		<result column="match_level" jdbcType="VARCHAR" property="matchLevel" />
		<result column="auth_level" jdbcType="VARCHAR" property="authLevel" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="operater" jdbcType="VARCHAR" property="operater" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="modifier" jdbcType="VARCHAR" property="modifier" />
		<result column="verb_filed1" jdbcType="VARCHAR" property="verbFiled1" />
		<result column="verb_filed2" jdbcType="VARCHAR" property="verbFiled2" />
		<result column="verb_filed3" jdbcType="VARCHAR" property="verbFiled3" />
		<result column="verb_filed4" jdbcType="VARCHAR" property="verbFiled4" />
		<result column="verb_filed5" jdbcType="VARCHAR" property="verbFiled5" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, user_id, question_id, skill_type, test_type, jobs_id, match_level,
		auth_level,
		start_time, end_time, create_time, operater, update_time, modifier, verb_filed1,
		verb_filed2, verb_filed3, verb_filed4, verb_filed5
	</sql>
	<select id="selectByExample" parameterType="com.metro.model.UserQuestionExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from user_question
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="startNumber != null">
			limit #{startNumber} , #{pageSize}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user_question
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from user_question
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.metro.model.UserQuestionExample">
		delete from user_question
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.metro.model.UserQuestion">
		insert into user_question (id, user_id, question_id,
		skill_type, test_type, jobs_id,
		match_level, auth_level, start_time,
		end_time, create_time, operater,
		update_time, modifier, verb_filed1,
		verb_filed2, verb_filed3, verb_filed4,
		verb_filed5)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{questionId,jdbcType=VARCHAR},
		#{skillType,jdbcType=VARCHAR}, #{testType,jdbcType=VARCHAR}, #{jobsId,jdbcType=VARCHAR},
		#{matchLevel,jdbcType=VARCHAR}, #{authLevel,jdbcType=VARCHAR},
		#{startTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{operater,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR},
		#{verbFiled1,jdbcType=VARCHAR},
		#{verbFiled2,jdbcType=VARCHAR}, #{verbFiled3,jdbcType=VARCHAR}, #{verbFiled4,jdbcType=VARCHAR},
		#{verbFiled5,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.metro.model.UserQuestion">
		insert into user_question
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="questionId != null">
				question_id,
			</if>
			<if test="skillType != null">
				skill_type,
			</if>
			<if test="testType != null">
				test_type,
			</if>
			<if test="jobsId != null">
				jobs_id,
			</if>
			<if test="matchLevel != null">
				match_level,
			</if>
			<if test="authLevel != null">
				auth_level,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="operater != null">
				operater,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="verbFiled1 != null">
				verb_filed1,
			</if>
			<if test="verbFiled2 != null">
				verb_filed2,
			</if>
			<if test="verbFiled3 != null">
				verb_filed3,
			</if>
			<if test="verbFiled4 != null">
				verb_filed4,
			</if>
			<if test="verbFiled5 != null">
				verb_filed5,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="questionId != null">
				#{questionId,jdbcType=VARCHAR},
			</if>
			<if test="skillType != null">
				#{skillType,jdbcType=VARCHAR},
			</if>
			<if test="testType != null">
				#{testType,jdbcType=VARCHAR},
			</if>
			<if test="jobsId != null">
				#{jobsId,jdbcType=VARCHAR},
			</if>
			<if test="matchLevel != null">
				#{matchLevel,jdbcType=VARCHAR},
			</if>
			<if test="authLevel != null">
				#{authLevel,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="operater != null">
				#{operater,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled1 != null">
				#{verbFiled1,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled2 != null">
				#{verbFiled2,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled3 != null">
				#{verbFiled3,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled4 != null">
				#{verbFiled4,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled5 != null">
				#{verbFiled5,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.metro.model.UserQuestionExample"
		resultType="java.lang.Long">
		select count(*) from user_question
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update user_question
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=VARCHAR},
			</if>
			<if test="record.questionId != null">
				question_id = #{record.questionId,jdbcType=VARCHAR},
			</if>
			<if test="record.skillType != null">
				skill_type = #{record.skillType,jdbcType=VARCHAR},
			</if>
			<if test="record.testType != null">
				test_type = #{record.testType,jdbcType=VARCHAR},
			</if>
			<if test="record.jobsId != null">
				jobs_id = #{record.jobsId,jdbcType=VARCHAR},
			</if>
			<if test="record.matchLevel != null">
				match_level = #{record.matchLevel,jdbcType=VARCHAR},
			</if>
			<if test="record.authLevel != null">
				auth_level = #{record.authLevel,jdbcType=VARCHAR},
			</if>
			<if test="record.startTime != null">
				start_time = #{record.startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.endTime != null">
				end_time = #{record.endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.operater != null">
				operater = #{record.operater,jdbcType=VARCHAR},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifier != null">
				modifier = #{record.modifier,jdbcType=VARCHAR},
			</if>
			<if test="record.verbFiled1 != null">
				verb_filed1 = #{record.verbFiled1,jdbcType=VARCHAR},
			</if>
			<if test="record.verbFiled2 != null">
				verb_filed2 = #{record.verbFiled2,jdbcType=VARCHAR},
			</if>
			<if test="record.verbFiled3 != null">
				verb_filed3 = #{record.verbFiled3,jdbcType=VARCHAR},
			</if>
			<if test="record.verbFiled4 != null">
				verb_filed4 = #{record.verbFiled4,jdbcType=VARCHAR},
			</if>
			<if test="record.verbFiled5 != null">
				verb_filed5 = #{record.verbFiled5,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update user_question
		set id = #{record.id,jdbcType=VARCHAR},
		user_id = #{record.userId,jdbcType=VARCHAR},
		question_id = #{record.questionId,jdbcType=VARCHAR},
		skill_type = #{record.skillType,jdbcType=VARCHAR},
		test_type = #{record.testType,jdbcType=VARCHAR},
		jobs_id = #{record.jobsId,jdbcType=VARCHAR},
		match_level = #{record.matchLevel,jdbcType=VARCHAR},
		auth_level = #{record.authLevel,jdbcType=VARCHAR},
		start_time = #{record.startTime,jdbcType=TIMESTAMP},
		end_time = #{record.endTime,jdbcType=TIMESTAMP},
		create_time = #{record.createTime,jdbcType=TIMESTAMP},
		operater = #{record.operater,jdbcType=VARCHAR},
		update_time = #{record.updateTime,jdbcType=TIMESTAMP},
		modifier = #{record.modifier,jdbcType=VARCHAR},
		verb_filed1 = #{record.verbFiled1,jdbcType=VARCHAR},
		verb_filed2 = #{record.verbFiled2,jdbcType=VARCHAR},
		verb_filed3 = #{record.verbFiled3,jdbcType=VARCHAR},
		verb_filed4 = #{record.verbFiled4,jdbcType=VARCHAR},
		verb_filed5 = #{record.verbFiled5,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.metro.model.UserQuestion">
		update user_question
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="questionId != null">
				question_id = #{questionId,jdbcType=VARCHAR},
			</if>
			<if test="skillType != null">
				skill_type = #{skillType,jdbcType=VARCHAR},
			</if>
			<if test="testType != null">
				test_type = #{testType,jdbcType=VARCHAR},
			</if>
			<if test="jobsId != null">
				jobs_id = #{jobsId,jdbcType=VARCHAR},
			</if>
			<if test="matchLevel != null">
				match_level = #{matchLevel,jdbcType=VARCHAR},
			</if>
			<if test="authLevel != null">
				auth_level = #{authLevel,jdbcType=VARCHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="operater != null">
				operater = #{operater,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled1 != null">
				verb_filed1 = #{verbFiled1,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled2 != null">
				verb_filed2 = #{verbFiled2,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled3 != null">
				verb_filed3 = #{verbFiled3,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled4 != null">
				verb_filed4 = #{verbFiled4,jdbcType=VARCHAR},
			</if>
			<if test="verbFiled5 != null">
				verb_filed5 = #{verbFiled5,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.metro.model.UserQuestion">
		update user_question
		set user_id = #{userId,jdbcType=VARCHAR},
		question_id = #{questionId,jdbcType=VARCHAR},
		skill_type = #{skillType,jdbcType=VARCHAR},
		test_type = #{testType,jdbcType=VARCHAR},
		jobs_id = #{jobsId,jdbcType=VARCHAR},
		match_level = #{matchLevel,jdbcType=VARCHAR},
		auth_level = #{authLevel,jdbcType=VARCHAR},
		start_time = #{startTime,jdbcType=TIMESTAMP},
		end_time = #{endTime,jdbcType=TIMESTAMP},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		operater = #{operater,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		modifier = #{modifier,jdbcType=VARCHAR},
		verb_filed1 = #{verbFiled1,jdbcType=VARCHAR},
		verb_filed2 = #{verbFiled2,jdbcType=VARCHAR},
		verb_filed3 = #{verbFiled3,jdbcType=VARCHAR},
		verb_filed4 = #{verbFiled4,jdbcType=VARCHAR},
		verb_filed5 = #{verbFiled5,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>