<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no">
		<title>北京地铁</title>
		<link href="${ctxPath}/views/css/iconfont.min.css" rel="stylesheet" type="text/css" />
		<link href="${ctxPath}/views/css/amazeui.css" rel="stylesheet" type="text/css">
		<link href="${ctxPath}/views/css/amazeui.datetimepicker.css" rel="stylesheet" type="text/css/">
		<link href="${ctxPath}/views/css/all.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		<script src="${ctxPath}/views/js/amazeui.min.js"></script>
		<script src="${ctxPath}/views/js/amazeui.datetimepicker.min.js"></script>
	</head>
	<style>
		.table {
			height: 100%;
			padding-top: 0.1px;
		}
		.form{
			min-height: 100%;
			padding-bottom: 80px;
			position: relative;
		}
		.nav {
			height: 80px;
			line-height: 80px;
		}
		
		.nav-content {
			margin-left: 100px;
			border-bottom: 1px solid #cccc;
		}
		
		
		
		.table-content {
			margin-top: 50px;
			text-align: center;
		}
		
		ul {
			padding-left: 0 !important;
		}
		
		.submit-div {
			padding-left: 2em;
			padding-top: 30px;
		}
		
		.ta-r {
			text-align: right;
		}
		
		.ta-l {
			text-align: left;
		}
		
		.title-fr {
			float: right;
			width: 140px;
		}
		
		.title-fl {
			float: left;
			width: 400px;
		}
		
		.width-100 {
			width: 100%;
			height: 40px;
		}
		
		.width-10 {
			width: 10%;
		}
		
		.title-fl .am-dropdown {
			width: 100% !important;
		}
		
		.addSpan {
			display: block;
			height: 37px;
			line-height: 37px;
			margin: 10px 10px 0;
		}
	</style>

	<body>
		<div class="form pageWrap">
			<header class="clearfix"></header>
			<div class="nav">
				<div class="nav-content">
					<span>导航页:</span>
					<span>首页-题库导入</span>
				</div>
			</div>
			<div class="table-content">
				<form>
					<ul class="clearfix">
						<li class=" creditwe-search-li">
							<div class="am-g">
								<div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-r">
									<div class="ta-l title-fr">
										<span>文本框</span><span class="must">（必选）：</span>
									</div>
								</div>
								<div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-l">
									<div class="ta-l title-fl">
										<input type="type" class="width-100" class="userid search-input" />

									</div>
								</div>
							</div>
						</li>
						<li class=" creditwe-search-li">
							<div class="am-g">
								<div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-r">
									<div class="ta-l title-fr">
										<span>下拉框</span><span class="must">（必选）：</span>
									</div>
								</div>
								<div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-l">
									<div class="ta-l title-fl">
										<select class="width-100" data-am-selected="{btnWidth: '140px', btnSize: 'sm', btnStyle: 'secondary'}">
											<option value='0'>请选择</option>
											<option value="id">商户编码</option>
											<option value="contact_phone">联系人手机号</option>
											<option value="contact">联系人姓名</option>
										</select>
									</div>
								</div>
							</div>
						</li>

						<li class=" creditwe-search-li">
							<div class="am-g">
								<div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-r">
									<div class="ta-l title-fr">
										<span>日期框</span><span class="must">（必选）：</span>
									</div>

								</div>
								<div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-l">
									<div class="ta-l title-fl">
										<input type="text" class="am-form-field data-input search-input" placeholder="日历组件" data-am-datepicker readonly required /> --
										<input type="text" class="am-form-field data-input search-input" placeholder="日历组件" data-am-datepicker readonly required />
									</div>
								</div>
							</div>
						</li>
						<li class="creditwe-search-li clearfix">
							<div class="am-g">
								<div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-r">
									<div class="ta-l title-fr">
										<span>上传附件</span><span class="must">（必选）：</span>
									</div>

								</div>
								<div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-l">
									<div class="ta-l title-fl am-form-group am-form-file">
										<button type="button" class="width-100 am-btn am-btn-danger am-btn-sm">
	    									<i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
										<input id="doc-form-file" type="file" multiple>
										<div id="file-list" class="width-100"></div>
									</div>
								</div>
							</div>
						</li>
						<div class="operation am-g">
							<div class="add am-u-sm-6 am-u-lg-6 am-u-md-6 ta-r">
								<button type="button" class="addTopic am-btn am-btn-secondary am-radiusta-l title-fr am-radius" style="margin-right: 1.5rem;">增加题型</button>
							</div>
							<div class=""></div>
						</div>
					</ul>

					<div class="submit-div">
						<button class="mr10 am-btn am-btn-primary am-radius" type="button">提交</button>
					</div>
				</form>
			</div>
			
			<footer></footer>

		</div>
		<script src="js/all.js"></script>
		<script>
			$(function() {
				$('#doc-form-file').on('change', function() {
					var fileNames = '';
					$.each(this.files, function() {
						fileNames += '<span class="am-badge">' + this.name + '</span> ';
					});
					$('#file-list').html(fileNames);
				});
				$(".addTopic").on('click', function() {
					console.log($('.operation'));
					var html = '<li class="clearfix add-li" style="margin-bottom: 20px;"><div class="am-g"><div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-r"><div class="ta-l title-fr" style=" margin-right: 1.5rem;"><input type="type" class="am-form-field" placeholder="请输入题型"></div></div><div class="am-u-sm-6 am-u-lg-6 am-u-md-6 ta-l"><div class="ta-l title-fl" style="width: 100%;"><input type="type" placeholder="百分比" class="am-form-field width-10 fl"/><span class="fl addSpan">%</span><input class="am-form-field width-10 fl"  type="type" placeholder="百分比"/><span class="fl addSpan">%</span><input type="type" class="am-form-field width-10 fl" placeholder="百分比"/><span class="fl addSpan">%</span><input type="type" placeholder="百分比" class="am-form-field width-10 fl"/><span class="fl addSpan">%</span><button type="button" class="delTopic am-btn am-btn-danger width-10 am-radius">删除</button></div></div></div></li>'
					$('.operation').before(html);
					$(".delTopic").on('click',delTopic)
				})
				function delTopic(){
					$(this).parents('li').remove();
				}
			});
		</script>
	</body>

</html>