<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="renderer" content="webkit"> 
		<title>北京地铁</title>
		<script>
			var ctxPath = "${ctxPath!}";
		</script>
		<link href="${ctxPath}/views/css/iconfont.min.css" rel="stylesheet" type="text/css" />
		<link href="${ctxPath}/views/css/amazeui.css" rel="stylesheet" type="text/css">
		<link href="${ctxPath}/views/css/amazeui.datetimepicker.css" rel="stylesheet" type="text/css/">
		<link href="https://cdn.bootcss.com/datatables/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
		<link href="${ctxPath}/views/css/allList.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
		<script src="${ctxPath}/views/js/amazeui.min.js"></script>
		<script src="${ctxPath}/views/js/amazeui.datetimepicker.min.js"></script>
	</head>
	<style>
		.table {
			padding-top: 0.1px;
		}
		
		.nav {
			height: 50px;
			line-height: 50px;
			margin-bottom: 20px;
		}
		
		.nav-content {
			border-bottom: 1px solid #eee;
		}
		
		.nav-content {
			margin-left: 100px;
			margin-right: 50px;
		}
		
		.table-search {
			margin-left: 200px;
		}
		
		.dataTables-wrap {
			margin: 50px;
		}
		.data-input{
			width: 40% !important;
		}
	</style>

	<body>
		<div class="table pageWrap">
			<header class="clearfix"></header>
			<div class="nav">
				<div class="nav-content">
					<span>导航页:</span>
					<span><a href="${ctxPath}/index.m">首页</a> - 开赛设置 - 查询</span>
				</div>
			</div>
			<div class="table-content">
				<form class="table-search" id="table-search">
					<ul class="clearfix">
						<li class="fl creditwe-search-li">
							<div class="fl mr10">岗位:</div>
							<div class="fl ">
								<select class="width-100" id="jobsId" name="jobsId" data-am-selected="{btnWidth: '140px', btnSize: 'sm', btnStyle: 'secondary'}">
									    <option value="#">--请选择--</option>
									 @for(job in jobs!){ 		 
										<option id="${job.id}" value='${job.id}'>${job.jobsName}</option>
									@}
											
								</select>
							</div>
						</li>
						<!-- <li class="fl creditwe-search-li">
							<div class="fl mr10">查询条件3:</div>
							<div class="fl data-input-wrap ">
								<input type="text" name="timeStart" class="am-form-field data-input data-input-start search-input" placeholder="日历组件" data-am-datepicker readonly required /> --
								<input type="text" name="timeEnd" class="am-form-field data-input data-input-end search-input" placeholder="日历组件" data-am-datepicker readonly required />
							</div>
						</li> -->
						<li class="fl creditwe-search-li">
							<button class="mr10 am-btn am-btn-primary" onclick="search()" type="button">查询</button>
						</li>
						<li class="fl creditwe-search-li">
							<button class="mr10 am-btn am-btn-primary" type="button" onclick="javascript:window.location.href='${ctxPath}/match/matchSetInit.m'">新增</button>
						</li>
					</ul>
				</form>
			</div>
			<div class="dataTables-wrap">

				<table id="dataTables" class="am-table-centered am-table am-table-bordered am-table-radius am-text-nowrap">
					<thead class="text-c">
						<tr class="am-primary">
							<th>赛事名称</th>
							<th>岗位</th>
							<th>开始时间</th>
							<th>结束时间</th>
							<th>当前阶段</th>
							<th>操作</th>
						</tr>
					</thead>
				</table>
			</div>

			<footer></footer>

		</div>
		<script src="https://cdn.bootcss.com/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="${ctxPath}/views/js/dataTables.responsive.min.js"></script>
		<script src="${ctxPath}/views/js/all.js"></script>
		<script>
			function dataTables() {
				//列表初始化
				var table = $("#dataTables").dataTable({
					language: lang, //提示信息
					ordering: false, //禁止排序
					bStateSave: true, //保留同页面
					autoWidth: false, //禁用自动调整列宽
					stripeClasses: ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
					processing: false, //隐藏加载提示,自行处理
					serverSide: true, //启用服务器端分页
					searching: false, //禁用原生搜索
					orderMulti: false, //启用多列排序
					deferRender: true, //当处理大数据时，延迟渲染数据，有效提高Datatables处理能力
					order: [], //取消默认排序查询,否则复选框一列会出现小箭头
					renderer: "bootstrap", //渲染样式：Bootstrap和jquery-ui
					pagingType: "full_numbers", //分页样式：simple,simple_numbers,full,full_numbers
					columnDefs: [{
						"targets": 'nosort', //列的样式名
						"orderable": false //包含上样式名‘nosort’的禁止排序
					}],
					bLengthChange: false,
					ajax: function(data, callback, settings) {
						/*var getData={"pageTotal":1,"rstDesc":"查询成功","rstFlag":true,"rstObj":[{"createTime":1535872769000,"endDate":1538496000000,"id":"583da175-5192-4112-9189-203ef75c0ce8","jobId":"7f167b43-ad05-11e8-9ce3-525400d685c9","jobsName":"车站站务员","matchLevel":"1","matchName":"123","operater":"de0f43cc-ad03-11e8-9ce3-525400d685c9","startDate":1535731200000}]}
						var returnData = {};
						returnData.data = getData.rstObj;
						returnData.recordsTotal = getData.pageTotal; //返回数据全部记录
						returnData.recordsFiltered = getData.pageTotal;
						callback(returnData); */
						
						var postData = $('#table-search').serialize();
						var startNumber = data.start;
						postData = postData + "&startNumber="+startNumber;
						console.log({'postData':postData});
						$.ajax({
							type: "get",
							url: "${ctxPath}/match/matchSearch.m",
							async: false,
							data: postData,
							success: function(data) {
								console.log(data)
								//封装返回数据
								var returnData = {};
								returnData.recordsTotal = data.pageTotal; //返回数据全部记录
								returnData.recordsFiltered = data.pageTotal; //后台不实现过滤功能，每次查询均视作全部结果
								returnData.data = data.rstObj; //返回的数据列表
								//调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
								//此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
								callback(returnData);
								//列表初始化
								//customerList.editReset();
							},
							error: function() {
								console.log('ajaxError')
							}
						})

					},
					"aoColumns": [{
							"data": "matchName", //UserID
							"className": "matchName"
						}, {
							"data": "jobsName", //UserID
							"className": "jobsName"
						}, {
							"data": "startDate", //UserID
							"className": "startDate"
						}, {
							"data": "endDate", //UserID
							"className": "endDate"
						}, {
							"data": "matchLevel", //UserID
							"className": "matchLevel",
							"fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
								var matchLevelArr = ["初赛", "复赛", "决赛", "总决赛"];
								$(nTd).html(matchLevelArr[sData - 1]);
							}

						},
						{
							"data": "id", //UserID
							"fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
								var html = "<a class='am-btn am-btn-secondary am-radius mr10' href='${ctxPath}/match/matchSetInit.m?id=" + sData + "'>编辑</a><a  onclick=Del('"+sData+"') class='am-btn am-btn-secondary am-radius'>删除</a>"
								$(nTd).html(html)
							}
						},
					],
					fnDrawCallback: function() {

					}
				}).api();
			}
			//var postData = {};
			dataTables();
			function Del(id){
				$.ajax({
					type:'get',
					url:'${ctxPath}/match/matchDel.m?id='+id,
					success:function(data){
						alert(data.rstDesc);
						search()
					},
					error:function(){
						alert("删除失败")
					}
				})
			}
			function search() {
				/*postData.id = $(".userid").val();
				postData.timeStart = $(".data-input-start").val();
				postData.timeEnd = $(".data-input-end").val();
				postData.selsect =  $(".search-select option:selected").val();
				var postData = {};*/
				//dataTables(postData)
				$('#dataTables').dataTable().api().ajax.reload();

			}
		</script>
	</body>

</html>