<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no">
		<title>北京地铁</title>
		<link href="css/iconfont.min.css" rel="stylesheet" type="text/css" />
		<link href="css/amazeui.css" rel="stylesheet" type="text/css">
		<link href="css/amazeui.datetimepicker.css" rel="stylesheet" type="text/css/">
		<link href="https://cdn.bootcss.com/datatables/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
		<link href="css/all.css" rel="stylesheet" type="text/css" />
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="js/amazeui.min.js"></script>
		<script src="js/amazeui.datetimepicker.min.js"></script>
		<script src="https://cdn.bootcss.com/datatables/1.10.16/js/jquery.dataTables.min.js"></script>
		<script src="js/all.js"></script>
	</head>
	<style>
		.table {
			padding-top: 0.1px;
		}
		
		.nav {
			height: 80px;
			line-height: 80px;
		}
		
		.nav-content {
			margin-left: 100px;
		}
		
		.table-search {
			margin-left: 200px;
		}
		
		.dataTables-wrap {
			margin: 50px;
		}
	</style>

	<body>
		<div class="table">
			<div class="index-header clearfix">
				<div class="header-left fl">
					<div class="logo-bg"></div>
				</div>
				<div class="header-center fl">
					<h1 class="header-h1">北京地铁答题系统</h1>
				</div>
				<div class="header-right fr">
					<button class="outline">退出</button>
				</div>
			</div>
			<div class="nav">
				<div class="nav-content">
					<span>导航页:</span>
					<span>首页-技能鉴定-查询</span>
				</div>
			</div>
			<div class="table-content">
				<div class="table-search">
					<ul class="clearfix">
						<li class="fl creditwe-search-li">
							<div class="fl mr10">查询条件1:</div>
							<div class="fl ">
								<input type="type" width="100" class="userid search-input" />
							</div>
						</li>
						<li class="fl creditwe-search-li">
							<div class="fl mr10">查询条件2:</div>
							<div class="fl ">
								<select data-am-selected="{btnWidth: '140px', btnSize: 'sm', btnStyle: 'secondary'}">
									<option value='0'>请选择</option>
									<option value="id">商户编码</option>
									<option value="contact_phone">联系人手机号</option>
									<option value="contact">联系人姓名</option>
								</select>
							</div>
						</li>
						<li class="fl creditwe-search-li">
							<div class="fl mr10">查询条件3:</div>
							<div class="fl data-input-wrap">
								<input type="text" class="am-form-field data-input search-input" placeholder="日历组件" data-am-datepicker readonly required /> --
								<input type="text" class="am-form-field data-input search-input" placeholder="日历组件" data-am-datepicker readonly required />
							</div>
						</li>
						<li class="fl creditwe-search-li">
							<button class="mr10 am-btn am-btn-primary" type="button">查询</button>
						</li>
					</ul>
				</div>
			</div>
			<div class="dataTables-wrap">

				<table id="dataTables" class="am-table-centered am-table am-table-bordered am-table-radius am-text-nowrap">
					<thead class="text-c">
						<tr class="am-primary">
							<th>xxxxxx</th>
							<th>xxxxxx</th>
							<th>xxxxxx</th>
							<th>xxxx</th>
							<th>xxxxxxx</th>
							<th>xxxxxxx</th>
							<th>xxxxxxxxx</th>
							<th>操作</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="index-footer">
				<footer class="footer-content">北京地铁有限公司</footer>
			</div>

		</div>
		<script>
			function dataTables() {
				console.log("abnormalUser is start");
				//列表初始化
				var table = $("#dataTables").dataTable({
					language: lang, //提示信息
					ordering: false, //禁止排序
					bStateSave: true, //保留同页面
					autoWidth: false, //禁用自动调整列宽
					stripeClasses: ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
					processing: false, //隐藏加载提示,自行处理
					serverSide: true, //启用服务器端分页
					searching: false, //禁用原生搜索
					orderMulti: false, //启用多列排序
					deferRender: true, //当处理大数据时，延迟渲染数据，有效提高Datatables处理能力
					order: [], //取消默认排序查询,否则复选框一列会出现小箭头
					renderer: "bootstrap", //渲染样式：Bootstrap和jquery-ui
					pagingType: "full_numbers", //分页样式：simple,simple_numbers,full,full_numbers
					columnDefs: [{
						"targets": 'nosort', //列的样式名
						"orderable": false //包含上样式名‘nosort’的禁止排序
					}],
					ajax: function(data, callback, settings) {
						var returnData = {};
						returnData.data = [{
							"userid": "0096ca24-1050-4e4a-a388-691a7cfffb32",
							"truename": "沈惠庆",
							"account": "13999692827",
							"idcard": "622101196901075426",
							"bankPhone": "13999692827",
							"mycode": "BRAWTC",
							"invitedcode": "MF1609"

						}, {
							"userid": "009e8aac-50c2-4e98-ab5d-6e844fd891a3",
							"truename": "应用",
							"account": "18811111115",
							"idcard": "150102199003079415",
							"bankPhone": "15123456789",
							"mycode": "A00CI0",
							"invitedcode": null,

						}, {
							"userid": "00ab711c-f376-48ff-9d8c-e24581128e54",
							"truename": "董斌",
							"account": "15388904678",
							"idcard": "430181198707068302",
							"bankPhone": "15388904678",
							"mycode": "NML3W5",
							"invitedcode": null,

						}, {
							"userid": "00d7385e-e75f-4024-99da-bfe6e752971d",
							"truename": "汪亭",
							"account": "15671684911",
							"idcard": "341021198301237494",
							"bankPhone": "15671684911",
							"mycode": "EODRIF",
							"invitedcode": null,

						}, {
							"userid": "0124ac57-4650-49e2-8d0e-c5922745153c",
							"truename": "金学元",
							"account": "13072245224",
							"idcard": "120104196207311141",
							"bankPhone": "13072245224",
							"mycode": "GTURO4",
							"invitedcode": null,

						}, {
							"userid": "013cdcfd-e860-4269-8280-538b142b951c",
							"truename": "常小平",
							"account": "18911547877",
							"idcard": "140221199009178246",
							"bankPhone": "18911547877",
							"mycode": "W94L7R",
							"invitedcode": null,

						}, {
							"userid": "017a9213-c39a-4b90-9544-a28a1dce6647",
							"truename": "戴娇娇",
							"account": "13932067817",
							"idcard": "130402198504067787",
							"bankPhone": null,
							"mycode": "636TBP",
							"invitedcode": null,

						}, {
							"userid": "018cfc64-7e13-4a0f-83f3-4073441780d0",
							"truename": "汪泽远",
							"account": "13717685454",
							"idcard": "110104195104162852",
							"bankPhone": null,
							"mycode": "JNF9HG",
							"invitedcode": "B3D1C8",

						}, {
							"userid": "03935e93-79c7-40e2-9c4b-3d0ac4770028",
							"truename": "于燕萍",
							"account": "18500073819",
							"idcard": "411522199109013222",
							"bankPhone": null,
							"mycode": "SM9LMA",
							"invitedcode": null,

						}, {
							"userid": "051763cb-1de1-4638-bf6a-3f1f4340e47f",
							"truename": "褚京玲",
							"account": "13520432735",
							"idcard": "110104196402076637",
							"bankPhone": null,
							"mycode": "QHLV7A",
							"invitedcode": "N5WVV4",

						}];
						returnData.recordsTotal = 50; //返回数据全部记录
						returnData.recordsFiltered = 50;
						callback(returnData);
					},
					"aoColumns": [{
							"data": "userid", //UserID
							"className": "userid"
						}, {
							"data": "truename", //UserID
							"className": "truename"
						}, {
							"data": "account", //UserID
							"className": "account"
						}, {
							"data": "idcard", //UserID
							"className": "idcard"
						}, {
							"data": "bankPhone", //UserID
							"className": "bankPhone"
						}, {
							"data": "mycode", //UserID
							"className": "mycode"
						},
						{
							"data": "invitedcode", //UserID
							"className": "invitedcode"
						},
						{
							"data": "userid", //UserID
							"fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
								$(nTd).html('<button type="button" class="mr10 am-btn am-btn-secondary">编辑</button><button type="button" class="mr10 am-btn am-btn-secondary">删除</button>')
							}
						},
					],
					fnDrawCallback: function() {

					}
				}).api();
			}
			dataTables()
		</script>
	</body>

</html>