@charset "utf-8";
/* CSS Document */

html,body{background:#f1f1f1; font-family: "Microsoft Yahei", Simsun, Arial, sans-serif}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img{padding:0; margin:0}
a{text-decoration:none}
a:hover{text-decoration:none}
ul{ padding:0; margin:0}
li{list-style:none; padding:0; margin:0}
img{border:0}

.con{ margin:5px}
.top{ background-color:#fff; height:60px}
.logotop{float:left}
.downtop{float:right}
.banner{ clear:both; background-color:#fff; border:solid #dcdcdc 1px}
.bigpic{ border:solid #fff 4px; border-bottom:solid #fff 4px; background-color:#fff}
.bigpic img{ width:100%}
.code{ color:#424242; font-size:12px; margin:0 0 5px 8px}
.key{ margin:8px 0 8px 8px}
.keytitle{ float:left;font-size:12px; color:#424242}
.keyimg{ float:left; margin-right:5px}
.key ul li{ font-size:12px; margin:0 5px; color:#424242}
.key ul li a{ color:#fe2a00; border:solid 1px #fe2a00; background-color:#fff; padding:5px 21px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px}
.key ul li a:hover{ background-color:#fe2a00; color:#fff}
.line{ width:100%; height:1px; background-color:#fff; border-bottom:solid 1px #bfbfbf; margin-top:8px}
.sametitle{ font-size:12px; color:#323232; border-left:solid 6px #fe2a00; margin:7px 0;  padding:2px 0 2px 5px}
.samepic{ float:left; width:100%}
.samepicleft{ float:left; width:49.4%; background-color:#f1f1f1}
.samepicleft ul li{ float:left; width:100%; margin-bottom:2px}
.samepicleft ul li img{ width:100%;}
.samepicright{ float:right; width:49.4%; background-color:#f1f1f1}
.samepicright ul li{ float:right; width:100%; margin-bottom:2px}
.samepicright ul li img{ width:100%}
.down{ position:fixed; bottom:0; background-color:rgba(55,59,67,0.9); width:100%; height:55px}
.logo{ float:left; margin:8px 0 0 8px}
.downbt a{ float:right; font-size:14px; color:#fff; background-color:#e23e26; padding:5px 12px 3px 12px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin:16px 15px 0 0}
.downbt a:hover{ background-color:#ff2607}
.close{ float:right; margin:20px 10px 0 0}

.con1{ margin:7px 5px}
.usercon{ float:left}
.userph{ float:left}
.userph img{-moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; border:solid 2px #fff}
.userinf{ float:left; margin-left:7px}
.username{margin-top:7px; color:#1d1d1d;font-size:16px}
.username a{ font-size:28px; color:#1d1d1d}
.time{ font-size:14px; color:#656565; margin-top:5px}

.bigpic1{ background-color:#f1f1f1; margin-bottom:4px}
.bigpic1 img{ width:100%}

.bigpic2{ border:solid #fff 4px; border-bottom:0; background-color:#fff}
.bigpic2 img{ width:100%}
.key1{ margin:4px 0 8px 8px}
.key1 ul li{ font-size:12px; margin:0 5px; color:#424242}

.sametitle1{float:left;font-size:12px; color:#323232; border-left:solid 6px #fe2a00; margin:7px 0;  padding:2px 0 2px 5px}
.usercon1{ float:left;width:100%}

.plcon{ float:left; width:99.7%;background-color:#fff; border:solid #dcdcdc 1px; margin-top:5px; padding-bottom:3px}
.zan,.pl{ float:left; margin:8px 0 0 10px;width:96%}
.zicon,.plicon{ float:left; margin:2px 0 0 0; width:8px}
.zuser,.plist{ float:left }
.plist{width:95%}
.zuser ul{}
.zuser ul li{ float:left; list-style:none; margin:0 0 5px 9px}
.zuser ul li img{-moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%}
.line1{ float:left; width:95%; height:1px; border-bottom:solid 1px #d1d1d1; margin:0 10px 0px 10px }
.plist ul{}
.plist ul li{ font-size:13px; margin-bottom:5px}
.plist ul li table{ width:100%}
.plist ul li table td{ text-align:left}
.plist ul li table span{ color:#4e5685}
.plist ul li img{ float:left;-moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; margin:0 5px}
.plicon{ margin-top:2px; margin-right:7px}

