@charset "utf-8";
/* CSS Document */
/*组卷样式*/

.con_content_bg {
	width:960px;
	margin:0 auto;
	background-color:#fff;
}
.con_content_up {
	width:960px;
	height:auto;
	border-bottom:#93c4ff dashed 1px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:15px;
}
.con_content_up p {
	line-height:36px;
}
.mcbz {
	background:url(../images/mcbz.jpg) no-repeat;
	width:582px;
	height:36px;
	border:none;
	line-height:36px;
	text-indent:1em;
	color:#cecece;
}
.xk_style { /* border:#dedede; padding-top:3px;*//*border: 1px solid #d0e0f4;color: #999;background: #fff;*/
	vertical-align:middle;
}
.word_left {
	padding-left:10px;
	text-align:left;
}
.tt_td_bg {
	background:url(../images/tl_bg.jpg) no-repeat;
	width:64px;
	height:33px;
	border:none;
	text-indent:1em;
}
.tt_td_bg02 {
	background:url(../images/gs_bg.jpg) no-repeat;
	width:62px;
	height:21px;
	border:none;
	text-indent:1em;
}
.zj_btn_layout2 {
	margin:0 auto;
	text-align:center;
	padding-top:50px;
}
.zj_btn_layout3 {
	margin:0 auto;
	text-align:center;
	padding-top:10px;
}
.zj_sub_btn {
	background: url(../images/sub_btn.jpg) no-repeat;
	width: 107px;
	height: 34px;
	border: none;
	display: inline;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
	margin-left:10px;
}
.zj_sub_btn02 {
	background: url(../images/sub_btn02.jpg) no-repeat;
	width: 107px;
	height: 34px;
	border: none;
	display: inline;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 10px;
	margin-left:10px;
}
/*课后练习（查看）样式*/
.top_word {
	width:914px;
	margin:0 auto;
	text-align:center;
	padding-top:10px;
	line-height:50px;
}
.lx_title01 {
	font-size:24px;
	font-weight:bold;
}
.lx_title02 {
	font-size:32px;
	font-weight:bold;
	color:#969799;
	padding-bottom:10px;
}
.lx_cc_content {
	width:916px;
	height:auto;
	border-bottom:#93c4ff dashed 1px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom:15px;
}
.lx_cc_content2 {
	width:916px;
	height:auto;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:15px;
}
.word_h3 {
	font-size:20px;
	font-weight:bold;
	color:#000408;
	line-height:50px;
}
.word_con {
	width:880px;
	margin:0 auto;
	border-bottom:#d4d4d4 dashed 1px;
    padding-top:30px;
    font-weight:bold;
}
.word_con02 {
	width:880px;
	margin:0 auto;
	border-bottom:#d4d4d4 dashed 1px;
	padding-top:30px;
	padding-bottom:10px;
	font-family:tahoma;
}
.word_con02 li {
	width:880px;

	line-height:22px;
	padding-top:3px;
	padding-bottom:3px;
}
.dx_style {
	
	
}
.scgt_bg01 {
	background:url(../images/scgt_bg01.png) no-repeat right;
	width:86px;
	text-align:right;
	padding-right:10px;
	color:#058923;
	display:block;
   cursor:pointer;
   float:right;
}
.scgt_bg02 {
	background:url(../images/scgt_bg02.png) no-repeat right;
	width:86px;
	text-align:right;
	padding-right:10px;
	color:#c7c7c7;
	display:block;
	 float:right;
	 cursor:pointer;
}
.lx_llook_whole {
	width:866px;
	display:block;
	margin:0 auto;
	padding-top:10px;
}
.lx_llook_01 {
	background:url(../images/lx_llook_bg01.jpg) no-repeat;
	width:866px;
	height:36px;
　 line-height:36px;
	display:block;
	color:#FFF;
	text-indent:2.5em;
	margin:0 auto;
	margin-top:10px;
}
.lx_llook_02 {
	width:753px;
	height: auto;
	margin:0 auto;
	display: block;
	background-color: #fbfdfc;
	background-repeat: repeat-y;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #bfd8c5;
	border-left-color: #bfd8c5;
	color:#0e7824;
	font-size:12px;
	line-height:23px;
	padding-left:90px;
	padding-right:20px;
	margin-left:0px;
}
.lx_llook_03 {
	background:url(../images/lx_llook_bg03.jpg) no-repeat;
	width:866px;
	height:9px;
	display:block;
	margin:0 auto;
}
/*作业样式*/
.zy_title02 {
	font-size:32px;
	font-weight:bold;
	color:#054fa8;
	margin-bottom:30px;
	border-bottom:dashed #a3cdff 1px;
}
.zy_twwt_whole_down {
	width:755px;
	margin:0 auto;
}
.zy_search_area {
	width:750px;
	_width:730px;
	height:auto;
	margin:0 auto;
	display: block;
	color:#666;
	font-size:12px;
	line-height:34px;
	padding-right:20px;
	margin-top:30px;
}
.zy_select_h01 {
	width:200px;
	height:24px;
	line-height:24px;
	float:left;/*  padding-bottom:10px;
	_padding-bottom:0px;*/

}
.zy_select_sy01 {
	width:120px;
	height:24px;
	line-height:24px;
}
.zy_select_h02 {
	width:280px;
	height:24px;
	line-height:24px;
	float:left;/*  padding-bottom:10px;
	_padding-bottom:0px;*/

}
.zy_select_sy02 {
	width:200px;
	height:24px;
	line-height:24px;
}
.zy_lay {
	text-indent:0em;
	margin-top:15px;
}
.zy_bg {
	width:575px;
	height:24px;
	_margin-top:5px;
}
/*每种题型设置样式*/

.zy_word_con02 {
	width:880px;
	margin:0 auto;
	border-bottom:#93c4ff dashed 1px;
	padding-top:15px;
	padding-bottom:10px;
	background-color:#eff7fe;
}
.zy_word_con03 {
	width:880px;
	margin:0 auto;
	border-bottom:#93c4ff dashed 1px;
	padding-top:15px;
	padding-bottom:10px;
	background-color:#fbfdff;
}
.t_inner_lay{ width:828px; margin:0 auto;}
.zy_jd_po{ width:830px;  margin:0 auto; margin-bottom:15px;}
.zy_jd{
	width:815px;
	height:60px;
	margin:0 auto;
	padding-left:10px;
	border:1px solid #d4d2d2;
}
.tjda_bg{ background:url(../images/tjda.png) no-repeat; width:86px; height:21px; border:none;  color:#fff; line-height:20px; }
.zy_scgt_bg{ background:url(../images/scgt_bg01.png) no-repeat; width:86px; height:21px; border:none; color:#7595bc; line-height:20px; text-indent:1em; cursor:pointer;}
.zy_btn_po{ float:right; height:24px; line-height:24px; }
.dl_width{ width:850px; margin:0 auto; padding-bottom:20px;}
.zy_ydlj{ float:left; color:#6c96dc; text-indent:2em; padding-right:20px;}
.dl_width p{ text-indent:2em;}
.dx_style {
	width:20px;
	display:inline;
	float:left;
	

}
.one_ti{ clear:both; padding-bottom:15px;}
.dx_word_style02{ line-height:21px; vertical-align:middle;}
.dx_word_style_title{  line-height:21px; vertical-align:top; color:#000;}
.dx_word_style_left
{
    margin-top:5px;
    *margin-top:0px;
    _margin-top:0px;
    float:left;
   
}
.dx_word_style_right
{
     float:left;
}
.dx_word_style_left input {  vertical-align:top;  }
.dx_word_style 
{
    
   float:left; width:95%;
}
.tdTitle
{
    background-color:#f7f7f7;
    width:120px;
}

.lx_cc_content2 li input
{
  
}

