* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
}

img {
	display: block;
	border: none
}

a {
	text-decoration: none
}

ol,
ul,
li {
	list-style: none
}

em {
	font-style: normal;
}

.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ".";
	font-size: 0
}

.clearfix {
	zoom: 1
}

.fl {
	float: left;
}

.fr {
	float: right;
}

html,
body {
	height: 100%;
	float:left;
	min-width: 100%;
}

.index-header,
header {
	text-align: center;
	height: 100px;
	line-height: 100px;
	background: url(../img/blue.png);
}

.header-left {
	width: 20%;
	margin-top: 25px;
}

.logo-bg {
	width: 150px;
	height: 50px;
	background: url(../img/logoText.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 50px;
}

.header-center {
	width: 60%;
}

.header-h1 {
	font-size: 28px;
	color: #FFFFFF;
}

.header-right {
	width: 20%;
	text-align: right;
	padding-right: 50px;
}

.outline {
	background: url(../img/button.jpg) 50%;
	border: none;
	font-size: 14px;
	width: 56px;
	height: 36px;
	border-radius: 5px;
	color: #fff;
	background-size: 135%;
}

.index-footer {
	text-align: center;
	width: 100%;
}

.footer-content {
	font-size: 18px;
	height: 32px;
	line-height: 32px;
	background: #ccc;
}

.index-content {
	height: 60%;
	margin-top: 180px;
}

.creditwe-search-li {
	height: 40px;
	line-height: 40px;
	padding-right: 20px;
	margin-bottom: 20px;
}

.search-input {
	height: 40px;
	line-height: 40px;
}

.mr10 {
	margin-right: 10px;
}

.data-input {
	display: inline-block !important;
	width: 180px !important;
}

.data-input-wrap {
	width: 400px
}

.pageWrap {
	min-height: 100%;
	padding-bottom: 80px;
	position: relative;
}

.must {
	color: red;
}

footer {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
}
.am-selected-content{
	height: 300px;
	overflow: scroll;
}

.button-max {
	width:15% !important;
}